[submodule "turbin3_prereq_typescript"]
	path = turbin3_prereq_typescript
	url = https://github.com/judd1337/turbin3_prereq_typescript.git
[submodule "turbin3_prereq_rust"]
	path = turbin3_prereq_rust
	url = https://github.com/judd1337/turbin3_prereq_rust.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/judd1337/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/judd1337/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/judd1337/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/judd1337/anchor-amm.git
[submodule "anchor-nft-staking"]
	path = anchor-nft-staking
	url = https://github.com/judd1337/anchor-nft-staking.git
